#cabecera{
    height:120px;
    background-color:rgba(81,160,173,0.7);
    box-shadow: 1px 1px 3px 1px #ffffff;
    
}
#logo{
    width:80px;
    height:80px;
    margin-top:5px;
}
#texto{
    height:65px;
    width:145px;
    padding-bottom:5px;
    margin-top:45px;
    
}
#textoSecundario{
   
    color:#AD7240;
   
}
#txtSC{
    
    width:145px;
   
   
}

body{
    background-image:url("../imagenes/imagenFondo.jpg");
    background-repeat:no-repeat;
}



#footer{
    background-color:rgba(81,160,173,0.7);
    box-shadow: 1px 1px 3px 1px #ffffff;
    margin-top:20px;
    font-size:15px;
  font-weight:bold;
   color:white;
  text-shadow:2px 1px 2px black;
  height:10px;
  align-content:center;
  
  
}

#botonesElegir{
    margin-top:45px;
}

#contenido{
    margin-top:20px;
    height:450px;
    box-shadow: 1px 1px 3px 1px #ffffff;
    background-image:url("../imagenes/fondoAlumnos.png");
    
}
.botonAlumno{
    border-radius:15px;
    font-size:15px;
  font-weight:bold;
   color:white;
  text-shadow:2px 1px 2px black;
  letter-spacing:3px;
}

.opciones{
    
   text-decoration:none;
   font-size:15px;
  font-weight:bold;
   color:white;
  text-shadow:2px 1px 2px black;
    
}

.enlaceA{
    height:10px;
    padding-top:5px;
}

.aInput{
    height:30px;
     font-size:15px;
  font-weight:bold;
   color:black;
  border-radius:15px;
  text-align:center;
}
#guardarD{
    border-radius:15px;
     font-size:15px;
  font-weight:bold;
   color:white;
  text-shadow:2px 1px 2px black;
}
.labelA{
    font-size:15px;
  font-weight:bold;
   color:white;
  text-shadow:2px 1px 2px black;
}
.contenedorA{
    margin-top:15px;
}
.oculto{
    visibility:hidden;
}

.mensajeI{
    font-size:15px;
  font-weight:bold;
   color:white;
  text-shadow:2px 1px 2px black;
}
.bot{
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    border-radius:15px;
    margin-top:10px;
}
.fraseValidacion{
 font-size:20px;
    color:white;
  text-shadow:2px 1px 2px black;
}


#fraseFooter{
  padding-top:10px;
}