#cabecera{
    height:120px;
    background-color:rgba(81,160,173,0.7);
    box-shadow: 1px 1px 3px 1px #ffffff;
    
}
#logo{
    width:80px;
    height:80px;
    margin-top:5px;
}
#texto{
    height:65px;
    width:145px;
    padding-bottom:5px;
    margin-top:45px;
    
}
#textoSecundario{
   
    color:#AD7240;
   
}
#txtSC{
    
    width:145px;
   
   
}

body{
    background-image:url("../imagenes/imagenFondo.jpg");
    background-repeat:no-repeat;
}



#footer{
    background-color:rgba(81,160,173,0.7);
    box-shadow: 1px 1px 3px 1px #ffffff;
    margin-top:308px;
    font-size:15px;
  font-weight:bold;
   color:white;
  text-shadow:2px 1px 2px black;
  height:10px;
  align-content:center;
  
}

p{
    padding-top:15px;
    letter-spacing:2px;
}

#alumnos{
    height:200px;
  margin-top:40px;
    box-shadow: 1px 1px 3px 1px #ffffff;
}

#notas{
    height:700px;
    box-shadow: 1px 1px 3px 1px #ffffff;
    margin-top:70px;
    background-image:url("../imagenes/fondoAlumnos.png");
}

.bAlumno{
margin-right:none;
padding-right:none;
}

#idAlumno{
    visibility:hidden;
}

#nombreApellido{
    text-align:center;
    letter-spacing:20px;
}

#nombreColumnas{
    text-align:center;
}

#notas p{
     font-size:20px;
  font-weight:bold;
   color:white;
  text-shadow:1px 1px 10px rgba(0,0,0,0.7);
}

.observaciones{
    font-size:14px;
}

#guardarSalir{
    margin-top:30px;
}

input{
    font-size:20px;
    font-weight:bold;
   color:white;
  text-shadow:1px 1px 10px rgba(0,0,0,0.7);
  background-color:transparent;
  text-align:center;
    -webkit-text-stroke:1px black;
}


