#cabecera{
    height:120px;
    background-color:rgba(81,160,173,0.7);
    box-shadow: 1px 1px 3px 1px #ffffff;
    
}
#logo{
    width:80px;
    height:80px;
    margin-top:5px;
}
#texto{
    height:65px;
    width:145px;
    padding-bottom:5px;
    margin-top:45px;
    
}
#textoSecundario{
   
    color:#AD7240;
   
}
#txtSC{
    
    width:145px;
   
   
}

body{
    background-image:url("../imagenes/imagenFondo.jpg");
    background-repeat:no-repeat;
}



#footer{
    background-color:rgba(81,160,173,0.7);
    box-shadow: 1px 1px 3px 1px #ffffff;
    margin-top:308px;
    font-size:15px;
  font-weight:bold;
   color:white;
  text-shadow:2px 1px 2px black;
  height:10px;
  align-content:center;
  
}

#botonesElegir{
    margin-top:45px;
}

#contenido{
    margin-top:40px;
    height:450px;
    box-shadow: 1px 1px 3px 1px #ffffff;
    background-image:url("../imagenes/fondoAlumnos.png");
    
}
.botonAlumno{
    border-radius:15px;
    font-size:15px;
  font-weight:bold;
   color:white;
  text-shadow:2px 1px 2px black;
}